<% if @revisions.count == 1 %>
  <h3>History of <%= @resource.delivery_id %> is empty</h3>
<% else %>
  <h3>History of <%= @resource.delivery_id %></h3>
  <table class="table">
    <thead>
    <tr>
      <th>DeliveryID</th>
      <th>Title</th>
      <th>Episode</th>
      <th>Year</th>
      <th>Duration</th>
      <th>AspectRatio</th>
    </tr>
    </thead>

    <tbody>
    <% prev_revision = nil %>
    <% @revisions.each do |revision| %>
      <tr>
        <td class="<%= changed(prev_revision, revision, :delivery_id) %>"><%= revision.delivery_id %></td>
        <td class="<%= changed(prev_revision, revision, :title) %>"><%= revision.title %></td>
        <td class="<%= changed(prev_revision, revision, :episode) %>"><%= revision.episode %></td>
        <td class="<%= changed(prev_revision, revision, :year) %>"><%= revision.year %></td>
        <td class="<%= changed(prev_revision, revision, :duration) %>"><%= revision.duration %></td>
        <td class="<%= changed(prev_revision, revision, :aspect_ratio) %>"><%= revision.aspect_ratio %></td>
      </tr>
      <% prev_revision = revision %>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Back to Index', resources_path, class: 'btn btn-default' %>
