<% if @resources.empty? %>
  <h3>
    Resource list is empty
    <%= link_to 'Download Resources', download_resources_path, class: 'btn btn-default pull-right' %>
  </h3>

<% else %>
  <h3>
    Resources
    <%= link_to 'Download Resources', download_resources_path, class: 'btn btn-default pull-right' %>
  </h3>

  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>DeliveryId</th>
      <th>Title</th>
      <th>Episode</th>
      <th>Year</th>
      <th>Duration</th>
      <th>Aspect ratio</th>
      <th>Created At</th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.id %></td>
        <td><%= resource.delivery_id %></td>
        <td><%= resource.title %></td>
        <td><%= resource.episode %></td>
        <td><%= resource.year %></td>
        <td><%= resource.duration %></td>
        <td><%= resource.aspect_ratio %></td>
        <td><%= resource.created_at.to_s %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'History', history_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
