<p id="notice"><%= notice %></p>

<p>
  <strong>DeliveryId:</strong>
  <%= @resource.delivery_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @resource.episode %>
</p>

<p>
  <strong>Year:</strong>
  <%= @resource.year %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @resource.duration %>
</p>

<p>
  <strong>Aspect ratio:</strong>
  <%= @resource.aspect_ratio %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
